__pycache__/

# Virtual environment
virtualenv/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Jupyter notebook for testing with data
testing.ipynb
.ipynb_checkpoints