# Requirements for building a data dashboard with Dash

# Automated tests
pytest==5.2.2
pytest-cov==2.8.1

# Data crunching
pandas==1.0.0
numpy==1.16.0

# Visualization
plotly==4.5.2
seaborn==0.10.0

# Dash
dash==0.21.1  
dash-renderer==0.13.0  
dash-html-components==0.11.0
dash-core-components==2.0.0  

waitress==1.4.3